.container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.pageheader h2 {
    text-align: center;
}

.row1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: flex-start;
}

.bookdata {
    display: flex;
    flex-direction: row;
}

.bookdata .card {
    margin-left: 15px;
}

.bookdata .card .card-body .card-title {
    text-align: center;
}

.bookdata .card .card-body .card-text {
    text-align: center;
    font-size: 5rem;
}


.bookdata .card .card-body .card-link {
    text-align: center;
}

.row2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: flex-start;
}

.rentedbook {
    background-color: #e9c46a;
}

.returnedbook {
    background-color: #f4a261;
}

.reservedbook {
    background-color: #2a9d8f;
}

.shelf .recommendation-container {
    margin: 1rem 1rem;
}

.recommendation-container {
    margin-left: 1rem;
}

.shelf .card-header {
    text-align: center;
}